.headerBack {
  background-color: var(--primary-color);
  width: 100rem;
  margin: 0 auto;
}

.header {
  margin-top: 8rem;
  display: flex;
  gap: 2rem;
  background-image: linear-gradient(
    to top left,
    var(--primary-color-dark),
    var(--primary-color-light)
  );
  padding: 0 6rem;
  justify-content: start;
  align-items: center;
  height: 6rem;
  width: 100rem;
  /* clip-path: polygon(0 0, 100% 0%, 100% 50%, 45% 100%, 0 100%); */
  clip-path: ellipse(100% 100% at 5% 0%);
}

.headerImage {
  width: 4rem;
  height: 4rem;
  border-radius: 0.8rem;
}

.headerText {
  animation-name: fadeIn;
  animation-duration: 1s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-5rem);
  }
  to {
    opacity: 1;
  }
}
