.container {
  display: flex;
  position: relative;
  flex-wrap: wrap;
  width: 100rem;
  padding: 1rem;
  margin: 0 auto;
  justify-content: start;
}

.list {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
}
.listEmpty {
  margin: 0 auto;
  padding-top: 2rem;
  font-size: 2rem;
}

.selectorContainer {
  display: flex;
  width: 100rem;
  margin: 0 auto;
  align-items: center;
  gap: 2rem;
  background-color: var(--primary-color);
  padding: 2rem;
}

.selector {
  font-size: 2rem;
}

.selection {
  border-radius: 0.8rem;
}

.spinnerContainer {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 2rem;
}

@media (max-width: 34em) {
  .container,
  .selectorContainer {
    margin-top: 3.6rem;
    width: 100vw;
    background-color: var(--secondary-color);
  }
  .list {
    justify-content: center;
    width: 100%;
  }
}
