.container {
  border-bottom: 0.1rem solid var(--color-grey);
  padding: 1rem;
  position: relative;
}
.commentUser {
  display: flex;
  gap: 0.8rem;
}
.commentUserImage {
  width: 5rem;
  border-radius: 0.8rem;
}
.commentUserName {
  font-size: 1.2rem;
  font-weight: 700;
}
.commentText {
  margin-top: 0.5rem;
  font-size: 1.2rem;
  word-wrap: break-word;
}
.commentInteract {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 2.4rem;
  justify-content: center;
  align-items: center;

  font-size: 1.2rem;
  padding: 0.2rem rem;
  border: 0.1rem solid var(--color-black);
  border-radius: 0.3rem;

  cursor: pointer;
}
.commentInteract:hover {
  background-color: var(--secondary-color);
}

.commentInteract.upvoted {
  background-color: var(--secondary-color-very-dark);
}

.commentUserNameInteract {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.spinnerContainer {
  position: absolute;
  top: 0.45rem;
  right: -3rem;
}

.editing {
  background-color: var(--tertiary-color-light);
}
