@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Roboto&family=Rubik:ital,wght@0,500;0,700;1,600&display=swap");

* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color: var(--color-black);
  font-family: "Roboto", sans-serif;
}

:root {
  --primary-color-light: #f1f8f6;
  --primary-color: #a1ccbc;
  --primary-color-dark: #70ab95;
  --primary-color-very-dark: #0c5338;

  --secondary-color-light: #f8fce3;
  --secondary-color: #f1f9c6;
  --secondary-color-dark: #e2f09b;
  --secondary-color-very-dark: #b2c260;

  --tertiary-color-light: #d46a6a;
  --tertiary-color: #aa3939;
  --tertiary-color-dark: #801515;
  --tertiary-color-very-dark: #550000;

  --color-black: #333;
  --color-grey: #ddd;
  --color-white: #fff;
}

/***************************************************************/
/* BELOW 544px (phones) */
/***************************************************************/
@media (max-width: 34em) {
  html {
    font-size: 50%;
  }
}
