.logoContainer {
  border: 0.2rem solid var(--primary-color-light);
  border-radius: 1000rem;
  transition: all 0.3s;
  color: var(--color-black);
}

.logoText {
  font-size: 2rem;
  font-weight: 700;
  padding: 0.8rem;
  user-select: none;
  transition: all 0.3s;
  text-decoration: none;
}

.logoContainer:hover {
  transform: scale(1.5);
}

.logoContainer:hover .logoText {
  transform: scale(0.8);
}

@media (max-width: 34em) {
  .logoContainer {
    padding: 0.4rem;
    border: 0.3rem solid var(--primary-color-light);
    background-color: transparent;
  }
  .logoContainer:hover,
  .logoContainer:hover .logoText {
    transform: none;
  }
  .logoText {
    font-size: 4rem;
  }
}
