.container {
  display: flex;
  background-color: var(--primary-color);
  width: 100rem;
  height: 8rem;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 4rem;
}

.container .navList {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 2rem;
  align-items: center;
  z-index: 1000;
}
