.container {
  display: flex;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--primary-color);
  width: 100rem;
  height: 8rem;
  margin: 0 auto;
  justify-content: space-between;
  padding: 0 4rem;
  z-index: 5000;
}

.container .navList {
  display: flex;
  gap: 2rem;
  list-style: none;
  font-size: 2rem;
  align-items: center;
}

@media (max-width: 34em) {
  .container {
    display: grid;
    left: 0;
    transform: none;
    grid-template-rows: 1fr 1fr;
    width: 100vw;
    margin: 0 auto;
    height: 16rem;
    padding: 1rem 1rem;
    justify-content: stretch;
    justify-items: start;
  }
}
